<table class="content">
  <tr>
    <th valign="top">文章标题</th>
    <td><%= form.text_field :title, :class => 'title' %></td>
  </tr>
  <tr>
    <th valign="top">文章内容</th>
    <td>
      <%= form.text_area :content %>
      <div id="blog_content_preview" class="con text"></div>
    </td>
  </tr>
  <tr>
    <th></th>
    <td align="center">
      <%= form.submit '', :class => 'submit' %>
    </td>
  </tr>
</table>