<div class="publish">
	<div class="con">
    <%= form_for @blog, url: admin_blog_path, :id => 'editor' do |f| %>
    <%= render partial: 'admins/form', :object => f %>
    <% end %>
  </div>
</div>

<%= render partial: 'admins/form_js' %>